<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('../requireViews/linksView.ejs', {}) %>
    <script type="script"></script>
  </head>
  <body>
    <%- include('../navBarView.ejs', {}) %>
    


    <div id="log">
      <%- include('./admin_log.ejs', {}) %>
    </div>

    <div id="dashboard">
      <%- include('./admin_dashboard.ejs', {}) %>
    </div>
    

    
    

    <!-- Scripts -->
    <%- include('../requireViews/scriptsView.ejs', {}) %>
  </body>
</html>
